@import url('navbar.css');

* {
    margin: 0;
    padding: 0;
}





body {
    background-image: linear-gradient(to top, rgba(0.75, 0, 0, 0.75), transparent), url('https://i.pinimg.com/originals/c9/97/6f/c9976fc3a92540856bb957a76818875d.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@font-face {
    font-family: 'Absender';
    src: url('../fontes/absender1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.planeta{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    color: white;
    margin: 20px;
    border: 1px solid red;
    width: 15vw;
    height: 30vh;
    border-radius: 15px;
    background-color: rgba(66, 66, 66, 0.9);
}

.planeta img{
    margin: 5px;
    width: 50%;
    border-radius: 15px;
}

.logo2{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 200px;
    width: 620px;
}

.logo2 img{
    position: fixed;
    left: 1px;
    top: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.logo2 p{
    position: fixed;
    left: 220px;
    top: 167px;
    font-family: 'absender', serif;
    font-size: 70px;
    color: white;
}

.info{
    position: relative;
    top: -190px;
    right: 15px;
    display: flex;
    justify-self: end;
    margin: 20px;
    width: 460px;
    height: 140px;
    background-color: rgb(102, 0, 128);
    border-radius: 15px;
    box-shadow: 0px 0px 15px blue;
    color: white;
}

.info p{
    padding: 20px;
    font-family: cursive;
    color: white;
}