* {
    margin: 0;
    padding: 0;
}





body {
    background-image: linear-gradient(to top, rgba(0.75, 0, 0, 0.75), transparent), url('../imagens/pexels-felix-mittermeier-957061.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-links {
    padding: 25px;
    max-height: 18px;
    margin: 20px;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(17, 0, 255, 0.6),rgba(28, 22, 110, 0.4)), url('../imagens/pexels-felix-mittermeier-957061.jpg');
    justify-content: center;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 100px;
    transition: all 0.3s ease-in-out;
}

.nav-links li a:hover {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.15), transparent), url('../imagens/pexels-felix-mittermeier-957061.jpg');
    font-size: 18px;
}

.planeta{
    display: flex;
    justify-content: start;
    align-content: space-around;
    flex-direction: column;
    color: white;
    margin: 20px;
    border: 1px solid red;
    width: 15vw;
    height: 35vh;
    border-radius: 15px;
    background-color: rgba(66, 66, 66, 0.9);
}

.planeta img{
    padding: 5px;
    margin: 5px;
    width: 95%;
    height: 80%;
    border-radius: 15px;
}

p{
    padding: 20px;
    font-size: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}