* {
    margin: 0;
    padding: 0;
}





body {
    background-image: linear-gradient(to top, rgba(0.75, 0, 0, 0.75), transparent), url('../imagens/pexels-felix-mittermeier-957061.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'Absender';
    src: url('../fontes/absender1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(17, 0, 255, 1), rgb(86, 0, 120)), url('../imagens/pexels-felix-mittermeier-957061.jpg');
    padding: 25px;
    height: 18px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.nav-links {
    position: absolute;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'absender', sans-serif;
    left: 0;
    right: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 100px;
    transition: all 0.3s ease-in-out;
    max-height: 15px;
}

.nav-links li a:hover {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.15), transparent), url('../imagens/pexels-felix-mittermeier-957061.jpg');
    font-size: 18px;
}

#logo {
    max-height: 100%;
    border-radius: 50px;
}

.navlogo {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 15%;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navlogo p {
    align-items: center;
    align-self: center;
    font-size: 23px;
    font-family: fantasy;
    color: white;
    border: purple;
}

.planeta {
    display: flex;
    justify-content: start;
    align-content: space-around;
    flex-direction: column;
    color: white;
    margin: 20px;
    width: 22vw;
    height: 60vh;
    transition: transform 0.3s ease;
    border-radius: 15px;
    background-color: rgba(80, 0, 117, 0.9);
}

.planeta:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #001aff;
}

.planeta img {
    padding: 5px;
    margin: 5px;
    width: 94%;
    height: 100%;
    max-height: 70%;
    border-radius: 15px;
    background-color: black;
}

p {
    padding: 20px;
    font-size: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}